@page
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    
}

<form method="post">
    Name: <input type="text" name="name" id="name" /><br />
    Password: <input type="password" name="password" id="password" /><br />
    <button type="submit">Enviar información</button>
</form>
@Html.ActionLink("Logueate","Index")
@ViewBag.Name
@ViewBag.Password

